[Desktop Entry]
Name=Seajeweled
GenericName=Match 3 game
Comment=an open source match 3 game
Exec=seajeweled
Icon=seajeweled
Type=Application
Keywords=match3;games;game;
Categories=Game;
StartupWMClass=seajeweled
